# **1.Lists**

In [5]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [24]:
#create a list of 10 integers
a=[1,2,3,4,5,6,7,8,9,10]
print('original_list',a)

#sum,max,and min
print('Sum',sum(a))
print('Max',max(a))
print('Min',min(a))

#add or remove element
a.

SyntaxError: incomplete input (ipython-input-15520272.py, line 17)

# 2.**Tuples**

In [32]:
#create a tuple
fruit = ('apple','banana','cherry','mango','grape')
print('Second element:',fruit[1])
print('Last element',fruit[-1])

#tuple is immutable because modifying it will give an error
#convert tuple into list

Second element: banana
Last element grape

# 3.**Sets**

In [ ]:
#create set
set_a={1,2,3,4,5}
set_b={4,5,6,7,8}


#union
print('Union',set_a.union(set_b))

#intersection
print('Intersection',set_a.intersection(set_b))

# 4.**Dictionaries**

In [33]:
#create dictionary
students ={'ali':85,'sara':90,'ahmad':82}
print('students:',students)

students: {'ali': 85, 'sara': 90, 'ahmad': 82}

# 5.**Numpy**

# 6.**Matplotlib**