In [42]:
#creating list of 10 integers
a=[1,3,5,7,9,11,13,15,17]
print('original list:',a);

#sum ,max,min
print('sum:',sum(a))
print('max:',max(a))
print('min:',min(a))

#add or remove element
a.append(24);
a.remove(1);
print('updated list:',a)

#ascending or descending list
a.sort()
print('ascending list:',a)
a.sort(reverse=True)
print('descending list:',a)

original list: [1, 3, 5, 7, 9, 11, 13, 15, 17]
sum: 81
max: 17
min: 1
updated list: [3, 5, 7, 9, 11, 13, 15, 17, 24]
ascending list: [3, 5, 7, 9, 11, 13, 15, 17, 24]
descending list: [24, 17, 15, 13, 11, 9, 7, 5, 3]

# **1.Lists**

In [5]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

# 2.**Tuples**

In [32]:
#create a tuple
fruit = ('apple','banana','cherry','mango','grape')
print('Second element:',fruit[1])
print('Last element',fruit[-1])

#tuple is immutable because modifying it will give an error
#convert tuple into list

Second element: banana
Last element grape

# 3.**Sets**

In [ ]:
#create set
set_a={1,2,3,4,5}
set_b={4,5,6,7,8}


#union
print('Union',set_a.union(set_b))

#intersection
print('Intersection',set_a.intersection(set_b))

# 4.**Dictionaries**

In [33]:
#create dictionary
students ={'ali':85,'sara':90,'ahmad':82}
print('students:',students)

students: {'ali': 85, 'sara': 90, 'ahmad': 82}

# 5.**Numpy**

# 6.**Matplotlib**